{% macro jobRequestStatus(status) %}
    {% if status == constant('App\\Entity\\JobRequest::STATUS_CREATED') %}
        <span class="badge badge-warning">Created</span>
    {% elseif status == constant('App\\Entity\\JobRequest::STATUS_APPROVED') %}
        <span class="badge badge-success">Approved</span>
    {% elseif status == constant('App\\Entity\\JobRequest::STATUS_REJECTED') %}
        <span class="badge badge-danger">Rejected</span>
    {% endif %}
{% endmacro %}

{% macro UserStatus(status) %}
    {% if status == constant('App\\Entity\\User::STATUS_ACTIVE') %}
        <span class="badge badge-success">Active</span>
    {% elseif status == constant('App\\Entity\\User::STATUS_LOCKED') %}
        <span class="badge badge-warning">Locked</span>
    {% elseif status == constant('App\\Entity\\User::STATUS_SICK') %}
        <span class="badge badge-danger">Sick</span>
    {% endif %}
{% endmacro %}

{% macro ifGranted(value) %}
    {% if value %}
        <span class="badge badge-success">granted</span>
    {% else %}
        <span class="badge badge-danger">not granted</span>
    {% endif %}
{% endmacro %}