{% extends "layout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block title %}User edit{% endblock %}

{% block mainContent %}
    <div class="container">
        <h1>User edit</h1>


            <form
                    {% if user is null %}
                        action="/index.php/User/edit"
                    {% else %}
                        action="/index.php/User/edit/{{ user.id }}"
                    {% endif %}
                    method="post">

                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" placeholder="Enter name" name="name" id="inputName"
                        {% if user is not null %}
                            value="{{ user.name }}"
                        {% endif %}
                           required>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" name="email"
                            {% if user is not null %}
                                value="{{ user.email }}"
                            {% endif %}
                    required >
                </div>
                <div class="form-group">
                    <label for="roles">Role</label>
                    <select class="form-control" name="role" id="roles">
                        <option value="{{ constant('App\\Entity\\User::ROLE_USER') }}"
                                {% if user is not null and user.role == constant('App\\Entity\\User::ROLE_USER') %}
                                    selected
                                {% endif %}
                        >user</option>
                        <option value="{{ constant('App\\Entity\\User::ROLE_ADMIN') }}"
                                {% if user is not null and user.role == constant('App\\Entity\\User::ROLE_ADMIN') %}
                                    selected
                                {% endif %}
                        >admin</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-info" href="/index.php/User/index" role="button">Back to list</a>
            </form>

     </div>

{% endblock %}