{% extends "layout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block title %}Users list{% endblock %}

{% block mainContent %}
    <div class="container">

        <h1>Users</h1>
        <a class="btn btn-info" href="/index.php/User/edit" role="button">Create user</a>

            <form action="/index.php/User/index" method="post">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email" name="email">
                    </div>

                    <div class="col">
                        <select class="form-control" name="status">
                            <option value =""> -- status --</option>
                            <option value="{{ constant('App\\Entity\\User::STATUS_ACTIVE') }}">active</option>
                            <option value="{{ constant('App\\Entity\\User::STATUS_LOCKED') }}">locked</option>
                            <option value="{{ constant('App\\Entity\\User::STATUS_SICK') }}">sick</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col">Grants</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for l in list %}
            <tr>
                <th scope="row">{{ l.id }}</th>
                <td>{{ l.name }}</td>
                <td>{{ l.email }}</td>
                <td>{{ l.role }}</td>
                <td>{{ macros.userStatus(l.status) }}</td>
                <td>
                    Email Access: {{ macros.ifGranted(l.emailAccessGranted) }} <br>
                    Git Access: {{ macros.ifGranted(l.gitRepositoryGranted) }} <br>
                    MS Licence: {{ macros.ifGranted(l.microsoftOfficeLicence) }} <br>
                    Trello Access: {{ macros.ifGranted(l.trelloAccessGranted) }}
                </td>
                <td>{{ l.createdAt|date('Y-m-d') }}</td>
                <td>
                    {% if l.updatedAt is null %}
                        -
                    {% else %}
                        {{ l.updatedAt|date('Y-m-d') }}
                    {% endif %}
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-{{ l.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            {% if l.emailAccessGranted %}
                                <a class="dropdown-item" href="/index.php/User/changeGrantStatus/{{ l.id }}/email/lock">Lock email access</a>
                            {%  else %}
                                <a class="dropdown-item" href="/index.php/User/changeGrantStatus/{{ l.id }}/email">Grant email access</a>
                            {% endif %}

                            {% if l.gitRepositoryGranted %}
                                <a class="dropdown-item" href="/index.php/User/changeGrantStatus/{{ l.id }}/git/lock">Lock git repo</a>
                            {%  else %}
                                <a class="dropdown-item" href="/index.php/User/changeGrantStatus/{{ l.id }}/git">Grant git repo</a>
                            {% endif %}

                            {% if l.microsoftOfficeLicence %}
                                <a class="dropdown-item" href="/index.php/User/changeGrantStatus/{{ l.id }}/msLicence/lock">Lock MS Licence</a>
                            {%  else %}
                                <a class="dropdown-item" href="/index.php/User/changeGrantStatus/{{ l.id }}/msLicence">Grant MS Licence</a>
                            {% endif %}

                            {% if l.trelloAccessGranted %}
                                <a class="dropdown-item" href="/index.php/User/changeGrantStatus/{{ l.id }}/trello/lock">Lock Trello access</a>
                            {%  else %}
                                <a class="dropdown-item" href="/index.php/User/changeGrantStatus/{{ l.id }}/trello">Grant MS Trello access</a>
                            {% endif %}

                            {% if l.status != constant('App\\Entity\\User::STATUS_LOCKED') %}
                                <a class="dropdown-item" href="/index.php/User/changeStatus/{{ l.id }}/{{ constant('App\\Entity\\User::STATUS_LOCKED') }}">Lock</a>
                            {% endif %}

                            {% if l.status != constant('App\\Entity\\User::STATUS_SICK') %}
                                <a class="dropdown-item" href="/index.php/User/changeStatus/{{ l.id }}/{{ constant('App\\Entity\\User::STATUS_SICK') }}">Mark as sick</a>
                            {% endif %}

                            {% if l.status != constant('App\\Entity\\User::STATUS_ACTIVE') %}
                                <a class="dropdown-item" href="/index.php/User/changeStatus/{{ l.id }}/{{ constant('App\\Entity\\User::STATUS_ACTIVE') }}">Activate</a>
                            {% endif %}

                            <a class="dropdown-item" href="/index.php/User/edit/{{ l.id }}">Edit</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}