{% extends "layout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block title %}Job request create{% endblock %}

{% block stylesheets %}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block mainContent %}
    <div class="container">
        <h1>User edit</h1>

            <form action="/index.php/JobRequest/create" method="post">

                <div class="form-group">
                    <label for="inputHours">Hours to work</label>
                    <input type="text" class="form-control" placeholder="Enter hours" name="hours" id="inputHours" required>
                </div>

                <div class="form-group">
                    <label for="datepicker">Job day</label>
                    <input type="text" class="form-control" name="jobDay" id="datepicker" width="276" required>
                </div>

                <div class="form-group">
                    <label for="inputOffice">Work office</label>
                    <select class="form-control" name="office" id="office">
                        <option value="home">home</option>
                        <option value="office 1">office 1</option>
                        <option value="office 2">office 2</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-info" href="/index.php/JobRequest/index" role="button">Back to list</a>
            </form>

     </div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script>
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            minDate: '{{ minStartDay }}',
            weekStartDay: 1,
            uiLibrary: 'bootstrap4'
        });
    </script>
{% endblock %}