{% extends "layout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block title %}Job Requests list{% endblock %}

{% block mainContent %}
    <div class="container">
        <h1>Job request</h1>
        <a class="btn btn-info" href="/index.php/JobRequest/create" role="button">Create Job Request</a>

            <form action="/index.php/JobRequest/index" method="post">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email" name="email">
                    </div>

                    <div class="col">
                        <select class="form-control" name="status">
                            <option value =""> -- status --</option>
                            <option value="{{ constant('App\\Entity\\JobRequest::STATUS_CREATED') }}">created</option>
                            <option value="{{ constant('App\\Entity\\JobRequest::STATUS_APPROVED') }}">approved</option>
                            <option value="{{ constant('App\\Entity\\JobRequest::STATUS_REJECTED') }}">rejected</option>
                        </select>
                    </div>

                    <div class="col">
                        <select class="form-control" name="office">
                            <option value =""> -- office --</option>
                            <option value="home">home</option>
                            <option value="office 1">office 1</option>
                            <option value="office 2">office 2</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Job day</th>
                <th scope="col">Hours</th>
                <th scope="col">Office</th>
                <th scope="col">Status</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for l in list %}
            <tr>
                <th scope="row">{{ l.id }}</th>
                <td>{{ l.user }}</td>
                <td>{{ l.jobDay|date('Y-m-d') }}</td>
                <td>{{ l.hours }}</td>
                <td>{{ l.office }}</td>
                <td><div id="status-message-{{ l.id }}">{{ macros.jobRequestStatus(l.status) }}</div></td>
                <td>{{ l.createdAt|date('Y-m-d H:i') }}</td>
                <td>
                    {% if l.updatedAt is null %}
                        -
                    {% else %}
                        {{ l.updatedAt|date('Y-m-d H:i') }}
                    {% endif %}
                </td>
                <td>
                    {% if session.userRole == constant('App\\Entity\\User::ROLE_ADMIN') %}
                    <div id="action-{{ l.id }}">
                        {% if l.status == constant('App\\Entity\\JobRequest::STATUS_CREATED') %}
                            <a class="btn btn-success btn-sm change-status" href="#"  data-url="/index.php/JobRequest/changeStatus/{{ l.id }}/{{ constant('App\\Entity\\JobRequest::STATUS_APPROVED') }}" role="button">Approve</a>
                            <a class="btn btn-danger btn-sm change-status" href="#"  data-url="/index.php/JobRequest/changeStatus/{{ l.id }}/{{ constant('App\\Entity\\JobRequest::STATUS_REJECTED') }}" role="button">Reject</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

            // change jobRequest status
            $(".change-status").click(function(e){

                e.preventDefault();
                var url = $(this).data('url');

                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'json',
                    success: function(data) {
                        $("#action-" + data.id).hide("slow");
                        $("#status-message-" + data.id).html(data.statusMessage);
                    }
                });
            });

        });
    </script>
{% endblock %}